body {

    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/vino1.jpg');
}


header {
    background-color: #5200009a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.main-content {
    margin-top: 80px; /* Ajusta según la altura del encabezado */
    margin-bottom: 80px; /* Ajusta según la altura del pie de página */
    /* Agrega otros estilos necesarios */
}

/* Agrega otros estilos CSS según sea necesario */
/* Estilos para la sección de productos */
.featured-products {
    text-align: center;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos del contenedor de cada producto */
.product {
    display: inline-block;
    margin: 0 20px;
    text-align: left;
    width: 300px;
    border: 2px solid #ccc; /* Borde sólido de color gris */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    text-align: center;
    margin-top: 10px;
}

.product p.price {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.product .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product .btn:hover {
    background-color: #555;
}

/* Estilos para el botón de WhatsApp */
#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que esté por encima del contenido */
}

#whatsapp-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para los iconos en el encabezado */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px; /* Espacio entre los elementos */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}