/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/vino1.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.content {
    background-color: rgba(255, 111, 111, 0.8); /* Blanco con opacidad del 80% */
}

/* Estilos del encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #520000;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


/* Estilos de la sección de productos destacados */
.featured-products {
    text-align: center;
    padding: 50px 0;
}

.product {
    display: inline-block;
    margin: 0 20px;
    text-align: left;
    width: 300px;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    margin-bottom: 10px;
}

.product .price {
    font-weight: bold;
}


/* Estilo para el pie de página */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  

/* Estilos de la sección de productos destacados */
.featured-products {
    text-align: center;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos del contenedor de cada producto */
.product {
    display: inline-block;
    margin: 0 20px;
    text-align: left;
    width: 300px;
    border: 2px solid #ccc; /* Borde sólido de color gris */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.product h3 {
    text-align: center;
    margin-top: 10px;
}

.product p {
    text-align: center;
    margin-bottom: 10px;
}

.product .price {
    text-align: center;
    font-weight: bold;
}

/* Ajusta el valor de la opacidad según tus preferencias */

body {
    padding-top: 100px; /* Para compensar el encabezado */
    padding-bottom: 100px; /* Para compensar el pie de página */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede la altura de la ventana */
}

/* Estilos para el botón de WhatsApp */
#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

#whatsapp-icon {
    width: 50px;
}

